.nav {
  grid-area: n;
  background-color: #C2E4FF;
  border-radius: 5px;
  text-align: center;
  padding-top: 12px;
}


.item a{
  color: #585A5B;
  font-weight: bold;
  text-decoration: none;
}

.item a.active {
  background: aliceblue;
  border-radius: 4px; 
  color: #585A5B;
  font-weight: bold;
} 