.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialog {
    padding: 10px;
}

.dialogsItems .active {
    background: aliceblue;
}

/* .messages {

}

.message {

} */