.container {
  width: 110px;
  padding-left: 52px;
  padding-top: 26px;
  float: left;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #5316E0; 
    box-shadow: 0 0 3px #666; 
  } 