 .card {
    float: right;
    width: 500px;
    background-color: lightcyan;
    border-radius: 25px 25px 25px 25px;
    color: #3B3C3D;
    display: block;
    margin-right: 14px;
    margin-bottom: 30px;
    margin-top: 11px;
    padding-top: 12px;
 }

.info {
    padding-left: 10px;
    margin-bottom: -10px;
}

.data {
    padding-left: 10px;
}