.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;


  grid-template-areas:
    "h h h h"
    "n c c c";
  grid-template-rows: 70px 4fr;
  grid-template-columns: 1fr 3fr;
  grid-gap: 6px;
}


.app-wrapper-content {
  grid-area: c;
  background-color: #C2E4FF;
  border-radius: 5px;
}